<a href="https://colab.research.google.com/github/AravindYadlapalli/Data-Preprocessing/blob/main/DataPreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded= files.upload()

Saving 5_6251264022461548505.csv to 5_6251264022461548505.csv

In [ ]:
import pandas as pd
import numpy as np
df=pd.read_csv('5_6251264022461548505.csv')

In [ ]:
df.describe()

              Rooms         Price  ...    Longtitude  Propertycount
count  29859.000000  2.335600e+04  ...  23323.000000   29856.000000
mean       3.016176  1.054981e+06  ...    145.001787    7548.887024
std        0.975505  6.450487e+05  ...      0.115072    4430.030684
min        1.000000  8.500000e+04  ...    144.423790      83.000000
25%        2.000000  6.370000e+05  ...    144.936700    4380.000000
50%        3.000000  8.800000e+05  ...    145.006800    6763.000000
75%        4.000000  1.300000e+06  ...    145.069165   10331.000000
max       16.000000  1.120000e+07  ...    145.526350   21650.000000

[8 rows x 13 columns]

In [ ]:
print(df.shape,df.size,df.ndim)

(29859, 21) 627039 2

In [ ]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             6503
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          6753
Bathroom          6759
Car               7082
Landsize          9945
BuildingArea     17848
YearBuilt        16163
CouncilArea          3
Lattitude         6536
Longtitude        6536
Regionname           3
Propertycount        3
dtype: int64

In [ ]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [ ]:
df.columns.size

21

In [ ]:
df.head(10)

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0
5  Abbotsford    40 Federation La  ...  Northern Metropolitan        4019.0
6  Abbotsford         55a Park St  ...  Northern Metropolitan        4019.0
7  Abbotsford        16 Maugie St  ...  Northern Metropolitan        4019.0
8  Abbotsford        53 Turner St  ...  Northern Metropolitan        4019.0
9  Abbotsford        99 Turner St  ...  Northern Metropolitan        4019.0

[10 rows x 21 columns]

In [ ]:
df=df.replace(0,np.NaN)

In [ ]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             6503
Method               0
SellerG              0
Date                 0
Distance            63
Postcode             1
Bedroom2          6770
Bathroom          6805
Car               8590
Landsize         12382
BuildingArea     17912
YearBuilt        16163
CouncilArea          3
Lattitude         6536
Longtitude        6536
Regionname           3
Propertycount        3
dtype: int64

In [ ]:
df.head(10)

       Suburb             Address  ...             Regionname Propertycount
0  Abbotsford       68 Studley St  ...  Northern Metropolitan        4019.0
1  Abbotsford        85 Turner St  ...  Northern Metropolitan        4019.0
2  Abbotsford     25 Bloomburg St  ...  Northern Metropolitan        4019.0
3  Abbotsford  18/659 Victoria St  ...  Northern Metropolitan        4019.0
4  Abbotsford        5 Charles St  ...  Northern Metropolitan        4019.0
5  Abbotsford    40 Federation La  ...  Northern Metropolitan        4019.0
6  Abbotsford         55a Park St  ...  Northern Metropolitan        4019.0
7  Abbotsford        16 Maugie St  ...  Northern Metropolitan        4019.0
8  Abbotsford        53 Turner St  ...  Northern Metropolitan        4019.0
9  Abbotsford        99 Turner St  ...  Northern Metropolitan        4019.0

[10 rows x 21 columns]

In [ ]:
df=df.dropna(thresh=20)

In [ ]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            1889
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            4
Bathroom            0
Car               517
Landsize         1974
BuildingArea     1121
YearBuilt         243
CouncilArea         0
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [ ]:
df.isnull().sum()

Suburb              0
Address             0
Rooms               0
Type                0
Price            1889
Method              0
SellerG             0
Date                0
Distance            0
Postcode            0
Bedroom2            4
Bathroom            0
Car               517
Landsize         1974
BuildingArea     1121
YearBuilt         243
CouncilArea         0
Lattitude           0
Longtitude          0
Regionname          0
Propertycount       0
dtype: int64

In [ ]:
df=df.dropna()

In [ ]:
df.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [ ]:
df.dtypes.value_counts()

float64    12
object      8
int64       1
dtype: int64

In [ ]:
print(df.shape,df.size,df.ndim)

(6287, 21) 132027 2

In [ ]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [ ]:
x

           Suburb          Address  ...  Longtitude                  Regionname
6      Abbotsford      55a Park St  ...   144.99410       Northern Metropolitan
14     Abbotsford    98 Charles St  ...   144.99540       Northern Metropolitan
18     Abbotsford    10 Valiant St  ...   144.99890       Northern Metropolitan
24     Abbotsford  40 Nicholson St  ...   144.99640       Northern Metropolitan
30     Abbotsford    16 William St  ...   144.99760       Northern Metropolitan
...           ...              ...  ...         ...                         ...
29835   Reservoir   21 Locksley Av  ...   144.99559       Northern Metropolitan
29844    Richmond     22 Durham St  ...   144.99895       Northern Metropolitan
29851    Ringwood       16 Ford St  ...   145.23526        Eastern Metropolitan
29854   Ripponlea   23 Erindale Av  ...   144.99560       Southern Metropolitan
29858    Rowville  51 Dandelion Dr  ...   145.25426  South-Eastern Metropolitan

[6287 rows x 20 columns]

In [ ]:
y

6         4019.0
14        4019.0
18        4019.0
24        4019.0
30        4019.0
          ...
29835    21650.0
29844    14949.0
29851     7785.0
29854      821.0
29858    11667.0
Name: Propertycount, Length: 6287, dtype: float64

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y,train_size=0.8,test_size=0.2)
print("Train size :",(len(x_train)/len(x))*100)
print("Test size :",(len(x_test)/len(x))*100)

Train size : 79.9904564975346
Test size : 20.009543502465405